<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Let's scan Ether</a>
    </nav>
    <h3 class="text-center" style="padding-top: 20px">Nothing found! Try again.</h3>
    <div class="d-flex justify-content-center" style="margin: 20px">
        <form id="form" method="post" th:action="@{/search/block}">
            <label for="typeSelect">Select search type</label>
            <select id="typeSelect" class="form-select" onchange="changeFormAction()">
                <option name="blhash" value="/search/block">Block Hash</option>
                <option name="txhash" value="/search/transaction">Transaction Hash</option>
                <option name="addrhash" value="/search/address">Wallet Address</option>
            </select>

            <input type="text" id="text-input" name="blhash" placeholder="Enter here!">
            <button type="submit" class="btn-dark">scan</button>
        </form>
    </div>
</body>
</html>